
SECRET_KEY=

ALLOWED_HOSTS=.localhost, .0.0.0.0
DEBUG=True

DJANGO_SETTINGS_MODULE=config.settings.development

# Database
DB_NAME=
DB_USERNAME=
DB_PASSWORD=
DB_HOSTNAME=
DB_PORT=5432

# Celery
CELERY_BROKER_URL=redis://redis:6379/0

# Redis
REDIS_BACKEND=redis://redis:6379/0

# Neo4j
NEO4J_URI=
NEO4J_USERNAME=
NEO4J_PASSWORD=
DEFAULT_DATABASE=

# Agent Config
LLM_MODEL_NAME=
EMBEDDER_MODEL_NAME=

OPENAI_BASE_URL=
OPENAI_BASE_URL_EMBEDDING=
OPENAI_API_KEY=